/*---------- Estilo General ----------*/
body {
    background-color: #faf0d5;
    font-family: Helvetica Neue, CMU Serif;
  }
  
  /*---------- Estulo del Formulario ----------*/
  #registrarse {
    background-color: #e4bf52;
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    font-family: Comfortaa, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
  }
   
  .contenedor-input {
    margin-bottom: 15px;
  }
  
  .contenedor-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .contenedor-input input[type="text"],
  .contenedor-input input[type="email"],
  .contenedor-input input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button {
    background-color: #338b31;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
